<section class="not-found-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lo-12 error-404">
        <div class="error-code">404 <i class="fa fa-warning"></i></div>
        <h2 class="font-bold">Oops 404! That page can’t be found.</h2>
        <div class="error-desc">
          Sorry, but the page you are looking for was either not found or does not exist. <br/>
          Click the button below to go back to the Login.
        </div>
        <br/>
        <div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-4 col-md-push-4 col-lg-2 col-lg-push-5">
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="goBack()"> Go back to login </button>
        </div>
      </div>
    </div>
  </div>
</section>
