@import '../../../variables';

.bg-wrapper {
    position: relative;
    min-height: 480px;

    @media (max-width: $screen-xs-max) {
        min-height: 250px;
    }

    .bg-img {
        // -webkit-filter: grayscale(100%) brightness(65%) contrast(100%);
        // -moz-filter: grayscale(100%) brightness(65%) contrast(100%);
        // -ms-filter: grayscale(100%) brightness(65%) contrast(100%);
        // -o-filter: grayscale(100%) brightness(65%) contrast(100%);
        // filter: grayscale(100%) brightness(65%) contrast(100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 10%;
        transition: linear .4s;
        background-color: $gray-light;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        @media (max-width: $screen-xs-max) {
            background-position: 50% 50%;
        }
    }
}