@import '../../../variables';

.bg-wrapper {
    position: relative;
    min-height: 480px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 65%, $gray-light 100%);

    @media (max-width: $screen-xs-max) {
        min-height: 250px;
    }

    .bg-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 10%;
        transition: linear .4s;
        background-color: $gray-light;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        @media (max-width: $screen-xs-max) {
            background-position: 50% 50%;
        }
    }
}