@import '../../../../variables';

.wrapper-card {
    margin-bottom: 34px;

    .card {
    padding: 0;
    background-color: $white;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        .image-content {
            padding: 0;
            height: 278px;

            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                height: 240px;
            }

            img {
                height: 100%;
                -webkit-animation: fadein 800ms; /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: fadein 800ms; /* Firefox < 16 */
                -ms-animation: fadein 800ms; /* Internet Explorer */
                -o-animation: fadein 800ms; /* Opera < 12.1 */
                animation: fadein 800ms;
            }
        }

        .info-content {
            padding: 1em;
            height: 278px;

            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                height: 240px;
            }

            .title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .overview {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0;
                width: 100%;
                line-height: 1.2em;
                padding-bottom: 0;
                margin-bottom: 2px;
                margin-top: 4px;
                word-wrap: break-word;
                white-space: normal;
                color: $text;
                line-height: 1.2em;
                margin-top: 25px;
            }

            .view-more {
                width: 100%;
                margin: 0;
                border-top: 1px solid $border;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 16px;
            }
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}