@import '../../../../variables';

.card-actor {
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    padding-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        height: 270px;
    }

    img {
        transition: opacity .3s;
        height: 200px;
        margin: 0;
        width: 100%;
        object-fit: cover;

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: 170px;
        }
    }

    > p {
        margin: 0;
        padding: 10px 10px 0 10px;
    }

    .name {
        font-weight: bold;
    }
}