<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" (click)="sidenav()">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-header pull-right">
      <ul class="nav navbar-right">
        <li>
          <div class="wrapper-avatar">
            <img class="img-responsive img-circle center-block" src="https://c1.staticflickr.com/7/6091/6299474915_b9e5255cba_b.jpg">
          </div>
        </li>
      </ul>
    </div>
</div>

<div class="background-sidenav" [ngClass]="{'open-background': active }" (click)="sidenav()"></div>

<div id="mySidenav" class="sidenav" [ngClass]="{'open': active }">
  <div class="sidebar-header header-cover">
    <img class="img-responsive center-block" src="https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg">
  </div>
  <ul class="nav sidebar-nav">
    <li>
      <a routerLink="/main/movies" routerLinkActive="active" (click)="sidenav()">
        <i class="glyphicon glyphicon-film" aria-hidden="true"></i>
        <span>Movies</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/info" routerLinkActive="active" (click)="sidenav()">
        <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
        <span>Info</span>
      </a>
    </li>
  </ul>
</div>
