<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" (click)="sidenav()">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-header pull-right">
      <ul class="nav navbar-right">
        <li>
          <div class="wrapper-avatar">
            <img class="img-responsive img-circle center-block" src="https://c1.staticflickr.com/7/6091/6299474915_b9e5255cba_b.jpg">
          </div>
        </li>
      </ul>
    </div>
</div>

