<nav class="navbar navbar-fixed-top bg-full color-full">
  <div class="container-fluid">
    <div class="navbar-header pull-left visible-xs">
      <a class="navbar-brand" (click)="sidenav()">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>
    </div>
    <ul class="nav navbar-nav hidden-xs">
      <li><a routerLink="/main/movies" routerLinkActive="active">MOVIES</a></li>
      <li><a routerLink="/main/tv" routerLinkActive="active">TV SERIES</a></li>
      <li><a routerLink="/main/info" routerLinkActive="active">INFO</a></li>
    </ul>
    <div class="navbar-header pull-right">
      <a class="navbar-brand" (click)="logout()">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>

