@import '../../../../variables';

.wrapper-pagination {
    margin: 0px;
    padding: 5px;

    @media (max-width: $screen-sm-max) {
        padding: 0;
    }

    .wrapper-arrows {
        font-size: 2.0em;

        a {
            cursor: pointer;
        }
    }
}