@import '../../variables';

.movie-detail-container {
    overflow-x: hidden;

    .component-info {
        position: relative;
        top: -50px;
    }

    .section-video {
        position: relative;
        top: -30px;
    }
}
