<section class="movie-detail-container">
  
  <bg-detail [bg]="detail.backdrop_path"></bg-detail>
  <info-detail class="component-info" [detail]="detail"></info-detail>

  <section *ngIf="credits.cast.length > 0">
    <slider [tvs]="credits.cast" [title]="'Top Billed Cast'" [section]="'actors'" [all]="false" [url]="''"></slider>
  </section>

  <section *ngIf="similars.results.length > 0">
    <slider [tvs]="similars.results" [title]="'Similar'" [section]="'movie'" [all]="false" [url]="''"></slider>
  </section> 

  <section *ngIf="recommendations.results.length > 0">
    <slider [tvs]="recommendations.results" [title]="'Recommendations'" [section]="'movie'" [all]="false" [url]="''"></slider>
  </section> 
  
</section>

