<section class="movie-container">
  <section class="movie-wrapper">
    <div class="col-xs-12 bg-img" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original/' + movie.backdrop_path + ')'}"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-poster">
          <div class="poster">
            <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" class="img-responsive center-block"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <div class="">
            <h2>{{movie.title}}</h2>
            <h5>{{movie.release_date | date:longDate}}</h5>
          </div>
          <rating [vote]="movie.vote_average"></rating>
          <div class="">
            <p>{{movie.overview}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row divider">
      <div class="col-xs-12">
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2> Top Billed Cast </h2>
      <div class="row">
        <card-actor *ngFor="let actor of actors"
            [actor]="actor">
        </card-actor>
      </div>
    </div>
  </section>
</section>

