@import '../../variables';

// Card login
.card {
    max-width: 350px;
    padding: 40px 40px;
    background-color: $white;
    margin: 0 auto 25px;
    margin-top: 50px;
    box-sizing: border-box;
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
}

// Custom input
input[type=email],
input[type=password],
input[type=text] {
    margin: auto;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1%;
    outline: 0;
    background: 0 0;
    padding: 0 0 0 5px;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
    margin: 10px auto;
    direction: ltr;
    height: 44px;
    font-size: 14px;

    &:focus {
        border-color: $error-red;
        outline: 0;
    }
}

// Custom button
button {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    margin: 30px auto;
    text-align: center;
    height: 40px;
    cursor: pointer;
    border: none;
    color: $white;
    background: $error-red;
    border-radius: 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;

    &:hover,
    &:active,
    &:visited,
    &:focus,
    &:hover:enabled,
    &:active:enabled,
    &:visited:enabled,{
        background-color: $pc-red;
        outline: none;
    }

    &[disabled]:hover {
        background-color: $error-red;
    }
}