@import '../../../variables';

.overlay-svg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    background-color: rgba(0,0,0,.8);

    .loader{
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        top: 50%;
        bottom: 50%;

        // Set the color of the icon
        svg path, svg rect{
            fill: $error-red;
        }
    }
}