<section>
  <div class="search-modal">
    <div class="search-modal-close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </div>
    <div class="search-modal-body">
      <h4>SEARCH</h4>

      <section class="search-section">
        <div class="row">
          <div class="col-xs-12">
            <form class="form-search" autocomplete="off" [formGroup]="searchForm" novalidate>
              <div class="form-group input-group input-group-lg">
                <input customFocus type="text" id="key" class="form-control" aria-describedby="basic-addon1" placeholder="Search for..." formControlName="key">
                <span class="input-group-addon addon" id="basic-addon1"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </span>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section class="results-search" *ngIf="results.length > 0">
        <slider-search [tvs]="results" [title]="'Results'" (close)="close($event)"></slider-search>
      </section>
    </div>
  </div>
</section>
