<section>
  <div class="search-modal">
    <div class="search-modal-close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </div>
    <div class="search-modal-body">
      <h4>SEARCH</h4>

      <section class="search-section">
        <div class="row">
          <div class="col-xs-12">
            <form class="form-search" [formGroup]="searchForm" novalidate>
              <div class="form-group input-group input-group-lg">
                <input type="text" id="key" class="form-control" aria-describedby="basic-addon1" placeholder="Search for..." formControlName="key">
                <span class="input-group-addon addon" id="basic-addon1"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> </span>
              </div>
            </form>
          </div>
        </div>
      </section>
      
      <!-- DA SISTEMARE E CAPIRE COME GESTIRE BENE IL SEGUENTE COMPONENTE -->
      <section class="results-search" *ngIf="results">
        <slider-detail [items]="results" [title]="'Results'" [url]="'/main/tv/wall/popular'" [section]="false"></slider-detail>
      </section> 
      
    </div>
  </div>
</section>
