@import '../../../../variables';

.wrapper-matched-movies {
    overflow: auto;
    max-height: 250px;
    position: absolute;
    width: 100%;
    background: $white;
    z-index: 1020;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;

    .wrapper-movie {
        padding: 6px 0;

        &:hover {
            text-decoration: none;
            background-color: $border;
        }

        .wrapper-img {
            width: 75px;
        }

        .wrapper-info {
            padding-top: 10px;

            .title {
                display: block;
                box-sizing: border-box;
                font-weight: 600;
                padding: 0;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .sub-title {
                width: 100%;
                max-width: 100%;
                color: #8b8b8b;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}