<section class="tv-container">

  <bg-detail [bg]="detailTv.backdrop_path"></bg-detail>
  <info-detail class="component-info" [detail]="detailTv"></info-detail>

  <section *ngIf="creditsTv.cast.length > 0">
    <slider-detail [items]="creditsTv.cast" [title]="'Top Billed Cast'" [url]="'/main/tv/wall/popular'" [section]="true"></slider-detail>
  </section>

  <section>
    <slider-detail [items]="similarTv.results" [title]="'Similar'" [url]="'/main/tv/wall/popular'" [section]="false"></slider-detail>
  </section>

  <section *ngIf="recommendationsTv.results.length > 0">
    <slider-detail [items]="recommendationsTv.results" [title]="'Recommendations'" [url]="'/main/tv/wall/popular'" [section]="false"></slider-detail>
  </section>

</section>


