// Bootstrap-sass
// Fonts
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Colors
// Primary palette
$profile-green: #19D4BB;
$profile-green-dark: #19D4BB;
$profile-hit-state: #04A28F;
$start-yellow: #FDD21B;
$error-red: #C80031;
$pc-red: #A50029;
$pc-amber: #FF9A13;
$pc-green: #018E50;
$kids-orange: #F4AA13;
$kids-light: #CDE8EF;
$kids-blue: #205FC2;
$kids-dark: #032F56;
 
// Mono palette
$snow: #FBFBFD;
$pebble: #EAF2F4;
$cloud: #D0DADC;
$fog: #A7BABE;
$mist: #57666B;
$dusk: #022931;
$deep-sea: #00232E;
$midnight: #001319;
$pitch-black: #00090B;

// Other
$white: #FFF;
$border: #EEE;
$gray-light: #F4F4F4;
$text: #4d4d4d;

