// Bootstrap version 3
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
// Google Fonts Roboto
@import '../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';

html {
    position: relative;
    min-height: 100%;

    a {
        color: $pitch-black;
        text-decoration: none;
        font-weight: normal;

        &:hover {
            color: rgba(0,0,0,.7);
        }
    }
}

body {
    margin-bottom: 60px;
    background-color: $gray-light;
    font-family: $roboto;
}

.content-body {
    padding: 60px 10px 0;
}

.bg-full {
    background-color: $pitch-black;
}

.color-full {
    color: $pitch-black;
}

.border-full {
    color: $pitch-black;
}

// Modal search fullscreen
.modal-dialog-custom {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        box-shadow: none;
        border: 0;
        background: rgba(0, 0, 0, .8);
    }
}

// Remove yellow color Chrome
input {
    -webkit-box-shadow: 0 0 0px 1000px $snow inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.bg-login {
    background: url('https://trakt.tv/assets/auth/breaking-bad-blur-23a8acffe8b2e154befc3a1d6dd7285d.jpg.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
