// Bootstrap version 3
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: $gray-light
}

.content-body {
    padding: 60px 10px 0;
}
