<div class="background-sidenav" [ngClass]="{'open-background': active }" (click)="sidenav()"></div>

<div id="mySidenav" class="sidenav" [ngClass]="{'open': active }">
  <div class="sidebar-header header-cover"></div>
  <ul class="nav sidebar-nav">
    <li>
      <a routerLink="/main/movie" routerLinkActive="active" (click)="sidenav()">
        <i class="glyphicon glyphicon-film" aria-hidden="true"></i>
        <span>MOVIES</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/tv" routerLinkActive="active" (click)="sidenav()">
        <i class="glyphicon glyphicon-facetime-video" aria-hidden="true"></i>
        <span>TV SERIES</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/info" routerLinkActive="active" (click)="sidenav()">
        <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
        <span>INFO</span>
      </a>
    </li>
  </ul>
</div>
