<section>
  <slider [tvs]="popularTVs.results" [title]="'Most popular TV series'" [url]="'/main/tv/wall/popular'"></slider>
</section>
<section>
  <slider [tvs]="topRatedTVs.results" [title]="'Top rated TV series'" [url]="'/main/tv/wall/toprated'"></slider>
</section>
<section>
  <slider [tvs]="airingTodayTVs.results" [title]="'Airing today TV series'" [url]="'/main/tv/wall/airingtoday'"></slider>
</section>
<section>
  <slider [tvs]="onTheAirTVs.results" [title]="'On the air TV series'" [url]="'/main/tv/wall/ontheair'"></slider>
</section>

